@import "tailwindcss";

@theme {
  --color-primary: #143109;
  --color-sage: #b5bfa1;
  --color-charcoal: #1f2937;
  --color-background-light: #fdfdfb;
  --color-background-dark: #0a1205;

  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-sans: "Inter", sans-serif;

  --radius-default: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2.5rem;
}