@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #143109;
  --color-sage: #b5bfa1;
  --color-charcoal: #1f2937;
  --color-background-light: #fdfdfb;
  --color-background-dark: #0b1c04;
  --color-secondary-fixed: #d9eaa3;
  --color-on-surface: #191c1d;
  --color-surface-container: #edeeef;
  --color-outline: #73796e;
  --color-secondary: #56642b;
  --color-error: #ba1a1a;
  --color-surface-variant: #e1e3e4;
  --color-on-surface-variant: #43483f;
  --color-surface-container-highest: #e1e3e4;
  --color-secondary-fixed-dim: #bdce89;
  --color-surface: #f8f9fa;
  --color-on-primary-container: #799b68;
  --color-surface-container-lowest: #ffffff;
  --color-outline-variant: #c3c8bb;
  --color-surface-container-high: #e7e8e9;
  --color-surface-container-low: #f3f4f5;
  --color-primary-container: #143109;

  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-sans: "Inter", sans-serif;

  --radius-default: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2.5rem;
}



:root {
  --primary-sage: #143109;
  --sage: #b5bfa1;
  --charcoal: #1f2937;
  --background-light: #fdfdfb;
}

.dark {
  --primary-sage: #b5bfa1;
}

.font-display {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.grainy-bg {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.04;
  pointer-events: none;
}

.shimmer-btn {
  position: relative;
  overflow: hidden;
}

.shimmer-btn::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.1), transparent);
  transform: rotate(45deg);
  transition: 0.5s;
}

.shimmer-btn:hover::after {
  left: 100%;
  top: 100%;
}

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(181, 191, 161, 0.3);
}

.organic-divider {
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}

.float-1 {
  animation: floating 6s ease-in-out infinite;
}

.float-2 {
  animation: floating 8s ease-in-out infinite 1s;
}

@keyframes floating {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}